* {
    margin: 0;
    orientation: center;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 20px;
}

nav {
    background-color: #0e74d4;
}

nav a {
    color: antiquewhite;
    word-spacing: 80px;
}

nav p {
    color: antiquewhite;
    padding: 1em;
    display: inline-block;
}

h1 {
    color: transparent;
}

h2 {
    color: antiquewhite;
}

article {
    border: 2px solid rgba(250, 249, 215, 0.74);
    margin-top: 0, 5em;
    padding: 0, 5em;
}

section {
    background-color: rgba(0, 0, 0, 0.349);
    border: 10px;
}

body {
    background-image: url('/img/sistema-solar-e1564771413564.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
}

a:hover {
    color: rgba(255, 246, 205, 0.466);
}

footer {
    color: antiquewhite;
    margin-top: 440px;
}

button {
    background-color: rgb(233, 200, 11);
    border: 30px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: block;
    margin: 45px auto 0 auto; 
    padding: 20px;
    border-radius: 23cqmin;
    
}

input {
    color: black;
}