* {
    margin: 0;
    orientation: center;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 20px;
}

nav {
    background-color: transparent;
}

nav a {
    color: antiquewhite;
    word-spacing: 80px;
}

nav p {
    color: antiquewhite;
    padding: 1em;
    display: inline-block;
}

h1 {
    color: transparent;
}

h2 {
    color: antiquewhite;
}

article {
    border: 2px solid rgba(250, 249, 215, 0.74);
    margin-top: 0, 5em;
    padding: 0, 5em;
}